/*
	- ERROR SECTION
*/
.error-content {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	height: 100svh; /* for mobile devices */
	background-color: $background;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 8;
	.btn-primary {
		margin-block-start: 20px;
	}
}