@import "./default/reset";
@import "./default/variables";
@import "./default/fonts";

/*
	===== MAIN STYLES =====
*/
html {
	font-family: $ff-nunito-sans;
	font-size: 10px;
	scroll-behavior: smooth;
}
body {
	background-color: $background;
	color: $on-background;
	font-size: $body-3;
	overflow: hidden;
}
:focus-visible {
	outline: 2px solid $white;
	outline-offset: 2px;
}
::selection {
	background-color: $white-alpha-8;
}
::-webkit-scrollbar {
	width: 6px;
	height: 6px; /* for horizontal scrollbar */
}
::-webkit-scrollbar-thumb {
	background-color: $white-alpha-8;
	border-radius: $radius-pill;
}